span{
    font-weight: bold;
    font-size: 12;
}

.amount-loan{
    text-align: center;
}

.list{
    height: 100vh;
    background-color: rgb(78, 103, 240);
}

.judul{
    padding-top: 10px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.list table{
    background-color: beige;
    color: black;
    margin-left: 65vh;
}

.list button{
    margin-left: 128vh;
}